// ================================================
// QUIZ OIGNONS — fonts.scss
// Roboto en local (public/fonts/)
// ================================================

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/roboto-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
