Options -Indexes
RewriteEngine On

# Block hidden files
RewriteRule "(^|/)\\." - [F,L]

RewriteBase /linda-hillairet/Quiz_v2/

# Redirect to HTTPS
# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# All requests go to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
